<template>
  <div id="app">
    <navigation></navigation>
    <main class="container mt-5">
      <router-view />
    </main>
    <footer-navigation></footer-navigation>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>
<style>
</style>
