<template>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="text-center">
        <h2>{{careerName}}</h2>
        <small>❗❗Esta herrramienta no realiza la validaci&oacute;n de pre-requisitos. ( Por ahora 😁)</small>
      </div>
      <!-- Class type radio button -->
      <div class="row text-center mt-4 mb-4">
        <div class="col-lg-12">
          <div class="custom-control custom-radio custom-control-inline">
            <input
              @change="onCheckClassType('approved')"
              type="radio"
              id="approvedRadio"
              name="classType"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="approvedRadio">Materias aprobadas</label>
            <div class="color-indicator-container approved mt-2 ml-1"></div>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              @change="onCheckClassType('registered')"
              type="radio"
              id="registeredRadio"
              name="classType"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="registeredRadio">Materias inscritas</label>
            <div class="color-indicator-container registered mt-2 ml-1"></div>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              @change="onCheckClassType('special_case')"
              type="radio"
              id="specialCaseRadio"
              name="classType"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="specialCaseRadio">Materias para caso especial</label>
            <div class="color-indicator-container special-case mt-2 ml-1"></div>
          </div>
        </div>
      </div>
      <!-- Classes cards -->
      <div
        class="row justify-content-center"
        v-for="(studentClasses, semesterKey) in orderedClasses"
        :key="semesterKey"
      >
        <div
          class="card ml-2 mt-2 text-center class-card"
          v-for="studentClass in studentClasses"
          :key="studentClass.initials"
          :id="studentClass.initials"
          @click="onClickClass(studentClass,semesterKey)"
        >
          <div class="card-body">
            <h5 class="card-title class-title">{{studentClass.name}}</h5>
            <p class="card-text class-initals">{{studentClass.initials}}</p>
          </div>
        </div>
      </div>
    </div>
    <template v-if="showToastError">
      <div aria-live="polite" aria-atomic="true" style="position: fixed;">
        <div id="none-class-type-error" class="toast" role="alert" data-autohide="false">
          <div class="toast-header">
            <img src="../assets/support_logo.svg" width="48px" height="48px" alt="Support Ficct" />
            <strong class="mr-auto">Support Ficct</strong>
            <small>Justo ahora</small>
            <button
              type="button"
              class="ml-2 mb-1 close"
              data-dismiss="toast"
              aria-label="Close"
              @click="_disableShowToastError"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div
            class="toast-body"
          >Tienes que seleccionar el tipo de materia (Aprobada, Inscrita o Caso Especial)</div>
        </div>
      </div>
    </template>
    <button class="mt-2 btn btn-dark" @click="onConfirmClasses">Siguiente</button>
  </div>
</template>

<script>
/* eslint-disable no-undef */
export default {
  props: {
    careerName: String,
    classes: Object
  },
  data() {
    return {
      specialCaseClassesData: this.classes,
      classType: "none",
      showToastError: false,
      classesCardStyles: {
        none: {
          backgroundColor: "#ffffff",
          color: "#000000"
        },
        approved: {
          backgroundColor: "green",
          color: "#ffffff"
        },
        registered: {
          backgroundColor: "#fcba03",
          color: "#000000"
        },
        special_case: {
          backgroundColor: "teal",
          color: "#ffffff"
        }
      }
    };
  },
  computed: {
    orderedClasses: function() {
      const reversed = {};
      const original = this.specialCaseClassesData;

      Object.keys(original)
        .reverse()
        .forEach(function(key) {
          reversed[key] = original[key];
        });

      return reversed;
    }
  },
  methods: {
    onConfirmClasses: function() {
      this.$emit("confirmClasses", this.specialCaseClassesData);
    },
    onClickClass: function(clickedClass, semesterKey) {
      if (this._isInvalidClassType()) {
        this._enableShowToastError();
        this._showClassTypeNoneClickedError();

        return;
      }

      const classCard = $(`#${clickedClass.initials}`);
      const classIndex = this._getClassIndexOf(clickedClass, semesterKey);
      const classCardStyle = this._getClassCardStyleFor(clickedClass);

      this._updateClassType(clickedClass);

      this.specialCaseClassesData[semesterKey][classIndex] = clickedClass;
      classCard.css(classCardStyle);
    },
    _isInvalidClassType: function() {
      return this.classType === "none";
    },
    _updateClassType: function(classData) {
      if (classData.type) {
        delete classData.type;

        return;
      }
      classData.type = this.classType;
    },
    _getClassCardStyleFor: function(classData) {
      return classData.type && classData.type === this.classType
        ? this.classesCardStyles["none"]
        : this.classesCardStyles[this.classType];
    },
    _enableShowToastError: function() {
      this.showToastError = true;
    },
    _disableShowToastError: function() {
      this.showToastError = false;
    },
    _showClassTypeNoneClickedError: function() {
      setTimeout(() => $("#none-class-type-error").toast("show"), 0);
    },
    _getClassIndexOf: function(classData, semesterKey) {
      return this.specialCaseClassesData[semesterKey].indexOf(classData);
    },
    onCheckClassType: function(classType) {
      this.classType = classType;
    }
  },
  mounted() {
    $(".toast").toast();
  }
};
</script>

<style>
.class-title {
  font-size: 13px;
  height: 50px;
}
.class-initials {
  font-size: 12px;
}
.class-card {
  width: 9rem;
  max-height: 140px;
  cursor: pointer;
}
.color-indicator-container {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
.color-indicator-container.approved {
  background-color: green;
  color: green;
}
.color-indicator-container.registered {
  background-color: #fcba03;
  color: #fcba03;
}
.color-indicator-container.special-case {
  background-color: teal;
  color: teal;
}
</style>
