<template>
  <transition>
    <template v-if="template==='classes_selector'">
      <select-classes
        :classes="careersData[studentCareerData.idx].classes"
        :career-name="careersData[studentCareerData.idx].name"
        @confirmClasses="onConfirmClasses($event)"
      ></select-classes>
    </template>
    <template v-else-if="template==='student_details'">
      <transition>
        <template v-if="careersData != null">
          <student-detail
            :careers="careersData"
            @confirmStudentDetails="onConfirmStudentDetails($event)"
          ></student-detail>
        </template>
        <template v-else>
          <p class="text-center">Cargando...</p>
        </template>
      </transition>
    </template>
    <template v-else-if="template==='sending_special_case_data'">
      <p class="text-center">Enviando ...</p>
    </template>
    <template v-else>
      <p class="text-center">Resumen del proceso</p>
    </template>
  </transition>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      studentData: null,
      studentCareerData: null,
      specialCaseClassesData: null,
      careersData: null,
      template: "student_details"
    };
  },
  methods: {
    onConfirmClasses: function(specialCaseClassesData) {
      this.specialCaseClassesData = specialCaseClassesData;

      this._updateTemplate("sending_special_case_data");
      this._sentSpecialCaseRequest();
    },
    onConfirmStudentDetails: function(studentDetails) {
      this.studentData = studentDetails.student;
      this.studentCareerData = studentDetails.careerData;

      this._updateTemplate("classes_selector");
    },
    _updateTemplate: function(newTemplateVal) {
      this.template = newTemplateVal;
    },
    _sentSpecialCaseRequest: function() {
      const payload = {
        student: {
          ...this.studentData
        },
        career_data: {
          name: this.studentCareerData.name,
          director: this.studentCareerData.director,
          key: this.studentCareerData.key,
          classes: this.specialCaseClassesData
        }
      };
      axios
        .post("http://localhost:5000/generate-documentation", payload)
        .then(response => {
          console.log(response.data);
        });
    }
  },
  created() {
    axios.get("http://localhost:5000/careers").then(response => {
      this.careersData = response.data.careers;
    });
  }
};
</script>

<style></style>
