<template>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="name">Nombres y apellidos</label>
        <input
          v-model="student.name"
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="p. ej. Paul Fernando Grimaldo Bravo"
        />
      </div>
      <div class="form-group">
        <label for="code">Registro Universitario</label>
        <input
          v-model="student.code"
          type="number"
          class="form-control"
          id="code"
          name="code"
          placeholder="p. ej. 214040801"
        />
      </div>
      <div class="form-group">
        <label for="ci">Carnet de identidad</label>
        <input
          v-model="student.dni"
          type="text"
          class="form-control"
          id="ci"
          name="ci"
          placeholder="p. ej. 9796898"
        />
      </div>
      <div class="form-group">
        <label for="career">Carrera</label>
        <select
          v-model="careerData.key"
          class="form-control"
          id="career"
          required
          @change="onSelectCareer($event.target.value)"
        >
          <option v-for="career in careers" :key="career.key" :value="career.key">{{career.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="career_director">Director de carrera</label>
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <input
              :disabled="disableEditCareerDirector"
              v-model="careerData.director"
              type="text"
              class="form-control"
              id="career_director"
              name="career_director"
              placeholder="Ing. Katime Esther Gutierrez Bruno"
            />
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-2">
            <button
              id="btnEditCareerDirector"
              class="btn"
              @click="onClickEditCareerDirector"
              data-toggle="tooltip"
              data-placement="top"
              title="Editar director de carrera"
            >
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
      </div>
      <button type="button" @click="confirmStudentDetails" class="btn btn-dark">Siguiente</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    careers: Array
  },
  data() {
    return {
      student: {
        name: null,
        code: null,
        dni: null
      },
      careerData: {
        ...this.careers[0],
        idx: 0
      },
      disableEditCareerDirector: true
    };
  },
  methods: {
    confirmStudentDetails: function() {
      const payload = {
        student: this.student,
        careerData: this.careerData
      };
      this.$emit("confirmStudentDetails", payload);
    },
    onClickEditCareerDirector: function() {
      this.disableEditCareerDirector = !this.disableEditCareerDirector;
    },
    onSelectCareer: function(careerKey) {
      const career = this._getCarrerFromKey(careerKey);
      const careerIndex = this._getCareerIndexOf(career);
      if (career != null) {
        this.careerData = {
          ...career,
          idx: careerIndex
        };
      }
    },
    _getCarrerFromKey: function(key) {
      return this.careers.find(career => career.key === key);
    },
    _getCareerIndexOf: function(career) {
      return this.careers.indexOf(career);
    }
  },
  mounted() {
    // eslint-disable-next-line no-undef
    $('[data-toggle="tooltip"]').tooltip();
  }
};
</script>

<style>
</style>
